name: OWASP ZAP Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the Web Application
    permissions:
      contents: read
      issues: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # --- NEW STEP: FIX PERMISSIONS ---
      # This allows the ZAP Docker container to write the report file to the disk
      - name: Fix Permissions for Docker
        run: chmod -R 777 .
      # ---------------------------------

      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: 'https://owasp-insecure.netlify.app'
          fail_action: false
          allow_issue_writing: false
          # We tell ZAP to output the report
          cmd_options: '-r zap_report.html'

      - name: Upload HTML Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ZAP-Security-Report
          path: zap_report.html